@*@using BCMLitePortal.Models
    @model LoginViewModel*@
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row" ng-app="bcmApp" ng-controller="loginCtrl">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm())
            {
                <h4>Use a local account to log in.</h4>
                <hr />
                <label>{{result}}</label>
                <hr />
                <label ng-repeat="e in errors">{{e}}</label>

                <div class="form-group">
                    <label>Email</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="loginEmail" />
                    </div>
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" ng-model="loginPassword" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button class="btn btn-default" ng-click="login()">Log in</button>
                    </div>
                </div>

                <p>
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
            }
        </section>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/app")
}